/var/lib/proxysql/proxysql.log {
        # create 600 mysql mysql
        su proxysql proxysql
        notifempty
        {{ proxysql_logrotate_frequency | default('weekly') }}
        rotate {{ proxysql_logrotate_amount | default(14) }}
        minsize {{ proxysql_logrotate_minsize | default('10M') }}
        maxsize {{ proxysql_logrotate_maxsize | default('100M') }}
        missingok
        compress
    postrotate
       {% if proxysql_cli_install_config %}
       mysql --defaults-file={{ proxysql_cli_config_path | quote }} -e "PROXYSQL FLUSH LOGS"
       {% else %}
mysql -h127.0.0.1 -P{{ proxysql_admin_bind_port }} --user={{ proxysql_admin_username | quote }} --password={{ proxysql_admin_password | quote }} -e "PROXYSQL FLUSH LOGS"
       {% endif %}

    endscript
}

