#
# {{ ansible_managed }}
#
{% macro config_parameter(parameter, val) %}
    {% if val | int(-111) > -111 %}
        {{ parameter }} = {{ val | string }}
    {% else %}
        {{ parameter }} = "{{ val | string }}"
    {% endif %}
{% endmacro %}


#file proxysql.cfg

########################################################################################
# This config file is parsed using libconfig , and its grammar is described in:        
# http://www.hyperrealm.com/libconfig/libconfig_manual.html#Configuration-File-Grammar 
# Grammar is also copied at the end of this file                                       
########################################################################################

########################################################################################
# IMPORTANT INFORMATION REGARDING THIS CONFIGURATION FILE:                             
########################################################################################
# On startup, ProxySQL reads its config file (if present) to determine its datadir. 
# What happens next depends on if the database file (disk) is present in the defined
# datadir (i.e. "/var/lib/proxysql/proxysql.db").
#
# If the database file is found, ProxySQL initializes its in-memory configuration from 
# the persisted on-disk database. So, disk configuration gets loaded into memory and 
# then propagated towards the runtime configuration. 
#
# If the database file is not found and a config file exists, the config file is parsed 
# and its content is loaded into the in-memory database, to then be both saved on-disk 
# database and loaded at runtime.
#
# IMPORTANT: If a database file is found, the config file is NOT parsed. In this case
#            ProxySQL initializes its in-memory configuration from the persisted on-disk
#            database ONLY. In other words, the configuration found in the proxysql.cnf
#            file is only used to initial the on-disk database read on the first startup.
#
# In order to FORCE a re-initialise of the on-disk database from the configuration file 
# the ProxySQL service should be started with "service proxysql initial".
#
########################################################################################

datadir="{{ proxysql_datadir }}"
errorlog="{{ proxysql_datadir }}/proxysql.log"

admin_variables=
{
    admin_credentials="{{ proxysql_admin_username }}:{{ proxysql_admin_password }}"
    mysql_ifaces="{{ proxysql_admin_bind_address }}:{{ proxysql_admin_bind_port }}"
}

mysql_variables=
{
    threads={{ proxysql_mysql_threads }}
    max_connections={{ proxysql_mysql_max_connections }}
    default_charset="{{ proxysql_mysql_default_charset }}"
    default_collation_connection="{{ proxysql_mysql_default_collation_connection }}"
    default_query_delay={{ proxysql_mysql_default_query_delay }}
    default_query_timeout={{ proxysql_mysql_default_query_timeout }}
    poll_timeout={{ proxysql_mysql_poll_timeout }}
    interfaces="{{ proxysql_mysql_interfaces }}" #	interfaces="0.0.0.0:6033;/tmp/proxysql.sock"
    default_schema="{{ proxysql_mysql_default_schema }}"
    server_version="{{ proxysql_mysql_server_version }}"
    connect_timeout_server={{ proxysql_mysql_connect_timeout_server }}
    monitor_username="{{ proxysql_mysql_monitor_username }}"
    monitor_password="{{ proxysql_mysql_monitor_password }}"
    monitor_history={{ proxysql_mysql_monitor_history }}
    monitor_connect_interval={{ proxysql_mysql_monitor_connect_interval }}
    monitor_ping_interval={{ proxysql_mysql_monitor_ping_interval }}
    monitor_read_only_interval={{ proxysql_mysql_monitor_read_only_interval }}
    monitor_read_only_timeout={{ proxysql_mysql_monitor_read_only_timeout }}
    monitor_galera_healthcheck_timeout={{ proxysql_mysql_monitor_galera_healthcheck_timeout }}
    monitor_galera_healthcheck_max_timeout_count={{ proxysql_mysql_monitor_galera_healthcheck_max_timeout_count}}
    monitor_galera_healthcheck_interval={{ proxysql_mysql_monitor_galera_healthcheck_interval}}
    ping_interval_server_msec={{ proxysql_mysql_ping_interval_server_msec }}
    ping_timeout_server={{ proxysql_mysql_ping_timeout_server }}
    commands_stats={{ proxysql_mysql_commands_stats }}
    sessions_sort={{ proxysql_mysql_sessions_sort }}
    connect_retries_on_failure={{ proxysql_mysql_connect_retries_on_failure }}
    hostgroup_manager_verbose={{ proxysql_mysql_hostgroup_manager_verbose }}
    set_query_lock_on_hostgroup={{ proxysql_mysql_set_query_lock_on_hostgroup }}
    wait_timeout={{ proxysql_mysql_wait_timeout }}
    max_allowed_packet={{ proxysql_mysql_max_allowed_packet | default('512M') | replace('G', '000M') | replace('M', '000K') | replace('K', '000') }}
    monitor_slave_lag_when_null={{ proxysql_mysql_monitor_slave_lag_when_null }}
    query_digests_max_query_length={{ proxysql_mysql_query_digests_max_query_length }}
    query_digests_max_digest_length={{ proxysql_mysql_query_digests_max_digest_length }}
    eventslog_filename="{{ proxysql_mysql_eventslog_filename }}"
    eventslog_filesize={{ proxysql_mysql_eventslog_filesize }}
    eventslog_default_log={{ proxysql_mysql_eventslog_default_log }}
    eventslog_format={{ proxysql_mysql_eventslog_format }}
    {% if proxysql_ssl %}
    have_ssl={{ proxysql_ssl_c2p_enabled | default('0') }}
    {% if proxysql_ssl_p2s_enabled %}
    ssl_p2s_ca="{{ proxysql_datadir }}/p2s-ca.crt"
    ssl_p2s_cert="{{ proxysql_datadir }}/p2s-client.crt"
    ssl_p2s_key="{{ proxysql_datadir }}/p2s-client.key"
    {% endif %}
    {% endif %}
}

# defines all the MySQL servers
mysql_servers =
(
    {% for mysql_server in proxysql_mysql_servers %}
    {
        hostname = "{{ mysql_server.address | default(mysql_server.hostname) }}" # ProxySQL accepts both 'address' and 'hostname'. We prefer you use 'hostname' and therefore have that as default so the error is thrown on the 'hostname' variable if both are missing.
        hostgroup_id = {{ mysql_server.hostgroup | default(mysql_server.hostgroup_id) }} # ProxySQL accepts both 'hostgroup' and 'hostgroup_id', want prefer to use 'hostgroup_id' and have that as default so the rror is thrown on 'hostgroup_id' if both are missing.
        comment = "{{ mysql_server.comment | default('No comment passed in ansible') }}"
        max_connections = {{ mysql_server.max_connections | default(proxysql_mysql_max_connections) }} # default global max_connections
        {% for key, value in mysql_server.items() %}
            {# host, roles, default_role and prive are skipped to allow passing the same list to mariadb_local_users #}
        {% if key not in ('hostname', 'address', 'hostgroup_id', 'hostgroup', 'max_connections', 'comment') %}
        {{ config_parameter(key, value) }}
        {% endif %}
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endfor %}
)

# defines all the MySQL users
mysql_users:
(
    {% for mysql_user in proxysql_mysql_users %}
    {% if mysql_user.username != proxysql_mysql_monitor_username %}
    {
        username = "{{ mysql_user.username }}"
        password = "{{ mysql_user.password }}"
        comment = "{{ mysql_user.comment | default('No comment passed in ansible variables') }}"
        {% for key, value in mysql_user.items() %}
            {# host, roles, default_role and prive are skipped to allow passing the same list to mariadb_local_users #}
        {% if key not in ('username', 'password', 'comment', 'host', 'roles', 'default_role', 'priv') %}
        {{ config_parameter(key, value) }}
        {% endif %}
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endif %}
    {% endfor %}
)

#defines MySQL Query Rules
mysql_query_rules:
(
    {% for mysql_query_rule in proxysql_mysql_query_rules %}
    {
        rule_id = {{ mysql_query_rule.rule_id }}  # MUST be UNIQUE
        active = {{ mysql_query_rule.active | default(1) }}  # default 1
        apply = {{ mysql_query_rule.apply | default(1) | int }}
        comment = "{{ mysql_query_rule.comment | default('No comment passed in ansible variables') }}"
        {% for key, value in mysql_query_rule.items() %}
        {% if key not in ('rule_id', 'active', 'apply', 'comment') %}
        {{ config_parameter(key, value) }}
        {% endif %}
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endfor %}
)

scheduler=
(
    {%- for scheduler in proxysql_scheduler -%}
    {
        id = {{ scheduler.id }}
        active = {{ scheduler.active | default(1) }}
        interval_ms = {{ scheduler.interval_ms }}
        filename = "{{ scheduler.filename }}"
        {%- for arg in scheduler.args -%}
            arg{{ loop.index }} = "{{ arg }}"
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endfor %}
)

mysql_replication_hostgroups=
(
    {% for replication_hostgroup in proxysql_mysql_replication_hostgroups %}
    {
        writer_hostgroup = {{ replication_hostgroup.writer_hostgroup }}
        reader_hostgroup = {{ replication_hostgroup.reader_hostgroup }}
        comment = "{{ replication_hostgroup.comment | default('No comment passed in ansible variables') }}"
        {% for key, value in replication_hostgroup.items() %}
        {% if key not in ('writer_hostgroup', 'reader_hostgroup', 'comment') %}
        {{ config_parameter(key, value) }}
        {% endif %}
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endfor %}
)


mysql_galera_hostgroups=
(
    {% for galera_hostgroup in proxysql_mysql_galera_hostgroups %}
    {
        writer_hostgroup = {{ galera_hostgroup.writer_hostgroup }}
        backup_writer_hostgroup = {{ galera_hostgroup.backup_writer_hostgroup }}
        reader_hostgroup = {{ galera_hostgroup.reader_hostgroup }}
        offline_hostgroup = {{ galera_hostgroup.offline_hostgroup }}
        comment = "{{ galera_hostgroup.comment | default('No comment passed in ansible variables') }}"
        {% for key, value in galera_hostgroup.items() %}
        {% if key not in ('writer_hostgroup', 'backup_writer_hostgroup', 'reader_hostgroup', 'offline_hostgroup', 'comment', 'health_check_enabled', 'health_check_port', 'health_check_type') %}
        {{ config_parameter(key, value) }}
        {% endif %}
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endfor %}
)


mysql_group_replication_hostgroups=
(
    {% for group_replication_hostgroup in proxysql_mysql_group_replication_hostgroups %}
    {
        writer_hostgroup = {{ group_replication_hostgroup.writer_hostgroup }}
        backup_writer_hostgroup = {{ group_replication_hostgroup.backup_writer_hostgroup }}
        reader_hostgroup = {{ group_replication_hostgroup.reader_hostgroup }}
        offline_hostgroup = {{ group_replication_hostgroup.offline_hostgroup }}
        comment = "{{ group_replication_hostgroup.comment | default('No comment passed in ansible variables') }}"
        {% for key, value in group_replication_hostgroup.items() %}
        {% if key not in ('writer_hostgroup', 'backup_writer_hostgroup', 'reader_hostgroup', 'offline_hostgroup', 'comment') %}
        {{ config_parameter(key, value) }}
        {% endif %}
        {% endfor %}
    }
    {%- if not loop.last -%}
    ,
    {% endif %}
    {% endfor %}
)
