#!/bin/bash

# Author:: Matteo Dessalvi & Michaël de Groot
#
# Copyright:: 2017
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# 
# This script checks the status of a ProxySQL instance routing traffic to
# a Galera cluster. It checks if there is at least 1 node available to write
# and another node available to read from.
#
# It will return: 
# 
#    "HTTP/1.x 200 OK\r" (if the node status is 'Synced') 
# 
# - OR - 
# 
#    "HTTP/1.x 503 Service Unavailable\r" (for any other status) 
# 
# The return values from this script will be used by HAproxy 
# in order to know the (Galera) status of a node.
#

#
# Node status looks fine, so return an 'HTTP 200' status code.
#
http_ok () {
  /bin/echo -e "HTTP/1.1 200 OK\r\n"
  /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
  /bin/echo -e "\r\n"
  /bin/echo -e "$1"
  /bin/echo -e "\r\n"
}

#
# Node status reports problems, so return an 'HTTP 503' status code.
#
http_no_access () {
  /bin/echo -e "HTTP/1.1 503 Service Unavailable\r\n"
  /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
  /bin/echo -e "\r\n"
  /bin/echo -e "$1"
  /bin/echo -e "\r\n"
}

#
# Script is called incorrectly, so HTTP 400 Bad Request status code
#
http_bad_request() {
  /bin/echo -e "HTTP/1.1 400 Bad Request\r\n"
  /bin/echo -e "Content-Type: Content-Type: text/plain\r\n"
  /bin/echo -e "\r\n"
  /bin/echo -e "$1"
  /bin/echo -e "\r\n"
}

#
# Return cached content
#
return_cached_content() {
    /usr/bin/cat $1
    exit 0
}

CACHE_PATH="{{ proxysql_status_cache_directory }}/any_host_onlin_status_cache"
LOCK_FILE="$CACHE_PATH.lock"

#
# Check last modification time of the cache
#
if [ ! -e $CACHE_PATH ]; then
	last_modified_seconds=86400
else
	last_modified_seconds=$(date +%s -r $CACHE_PATH)
fi
current_seconds=$(date +%s)
cache_age=$((current_seconds - last_modified_seconds))

#
# Return cache if it is young enough
#

if [ $cache_age -lt 10 ]; then
	return_cached_content "$CACHE_PATH"
fi

#
# Lock the file where we generate new cache
#
exec 200>$LOCK_FILE
flock -n 200 || return_cached_content "$CACHE_PATH"
#
# Run a SQL query on the local MySQL instance.
# 
status_query () {
  SQL_QUERY=`/usr/bin/mysql --defaults-file={{ proxysql_cli_config_path | escape }} --silent --raw -N -e "$1"`
  RESULT=`echo $SQL_QUERY|/usr/bin/cut -d ' ' -f 2` # just remove the value label
  echo $RESULT
}

#
# Safety check: verify if MySQL is up and running.
#
PROXYSQL_STATUS=`/bin/systemctl is-active proxysql.service`
if [ "$PROXYSQL_STATUS" != 'active' ]; then
    http_no_access "ProxySQL instance is reported $PROXYSQL_STATUS.\r\n" > $CACHE_PATH
    return_cached_content "$CACHE_PATH"
fi

#
# Check how many writers are online
#
NUM_ONLINE=$(status_query "select count(*) FROM runtime_mysql_servers WHERE status='ONLINE'")

#
if [ -z "$NUM_ONLINE" ] || [ "$NUM_ONLINE" = "0" ]; then
     http_no_access "No nodes online" > $CACHE_PATH
     return_cached_content "$CACHE_PATH"
else
     http_ok "We have nodes online" > $CACHE_PATH
     return_cached_content "$CACHE_PATH"
fi
